@model ViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Episode.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episode.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.videoSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episode.videoSrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episode.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episode.Movie.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Episode?.ID">Chỉnh sửa</a> |
    <a asp-action="Index">Quay về danh sách</a>
</div>
