@model ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH THÔNG TIN TẬP PHIM</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<table id="example" class="display cell-border order-column" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Episode.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode.videoSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Episodes)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.videoSrc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
